.idea/
.vscode/
.vim/

.venv/
venv/
__pycache__/
.coverage
.mypy_cache/
.pytest_cache/
.pytype/
*.pyc
.env
.local/

.DS_Store
.python-version
.ruff_cache
*.npy
script.py
requests.http

tmp/
dist/
*egg-info/
reports/
scratch/
